body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: fit-content;
}

header {
  z-index: 100;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
}

#ham-menu {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 0.6rem;
  left: 3rem;
}

iframe{
  width:100%;
  height: inherit;
}

.container {
  display: flex;
  min-height: calc(100vh - 80px);
}

.mainContainer {
  height: 100%;
  display: flex;
}

.active {
  background-color: white;
  color: black;
}

li {
  width: 100%;
  color: black;
}

ul {
  height: auto;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0;
  width: 20%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

ul li a {
  font-size: 1.8rem;
  display: flex;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  justify-content: space-around;
}

ul li a:hover {
  background-color: white;
  color: black;
}


.main-content {
  width: 80%;
  padding: 20px;
}

#dashboard {
  background-color: aquamarine;
  height: 100%;
}

#users {
  background-color: silver;
  height: 100%;
}

#products {
  background-color: tan;
  height: 100%;
}

#orders {
  background-color: gray;
  height: 100%;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

ul.active {
  left: 0;
  left: 0;
  height: 80%;
  position: absolute;
  z-index: 1;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 1s;
  gap: 0;
}


@media only screen and (max-width: 767px) {

  html {
    font-size: 50%;
  }
  
  header {
    padding: 2rem 3rem;
  }

  .container{
    height: 100%;
  }

  .main-content {
    z-index: -10;
    position: absolute;
    width: 100%;
    padding: 20px 12px 20px 22px;
    height: 80%;
  }

  #ham-menu {
    display: block;
    font-size: 8rem;
  }
  ul.active {
    left: 0;
    left: 0;
    height: 80%;
    position: absolute;
    z-index: 1;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;
  }

  .active{
    background-color:black;
    color: white;
  }

  ul {
    position: fixed;
    left: -100vw;
    top: 9rem;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;
  }

  ul li a {
    font-size: 1.8rem;
    display: flex;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    justify-content: space-around;
  }
  
}

@media only screen and (max-width: 575px) {
  html {
    font-size: 46.87%;
  }

  header {
    padding: 2rem 3rem;
  }

  .main-content {
    position: absolute;
    width: 100%;
    padding: 20px 12px 20px 22px;
    height: 80%;
  }

  ul {
    z-index: 1;
    left: -100vw;
    top: 60px;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;
  }
}