<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <title>Plus Admin</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/static/css/vis.css" rel="stylesheet" />

    <link
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      rel="stylesheet"
    />
    <script
      crossorigin="anonymous"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    ></script>
    <link href="/static/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <!-- End layout styles -->
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile border-bottom">
            <a class="nav-link flex-column" href="#"> </a>
          </li>

          <li class="pt-2 pb-1">
            <span class="nav-item-head">Mars Rover</span>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="Dash.html">
              <i class="fa-solid fa-house menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="dashboard.html">
              <i class="fa-solid fa-clapperboard menu-icon"></i>
              <span class="menu-title">Stream</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="control.html">
              <i class="fa-solid fa-gears menu-icon"></i>
              <span class="menu-title">Control</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="visualization.html">
              <i class="fa-solid fa-chart-line menu-icon"></i>
              <span class="menu-title">Visualization</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="location.html">
              <i class="fa-sharp fa-solid fa-location-dot menu-icon"></i>
              <span class="menu-title">Map</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="images.html">
              <i class="fa-regular fa-image menu-icon"></i>
              <span class="menu-title">Images</span>
            </a>
          </li>
        </ul>
      </nav>

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <nav
          class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
        >
          <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button
              class="navbar-toggler bg-black navbar-toggler align-self-center"
              data-toggle="minimize"
              id="rotate"
              onclick="rotateIcon()"
              type="button"
            >
              <span class="fa-solid fa-square-caret-left" id="icn"></span>
            </button>
            <h1 class="m-2">Admin Panel</h1>
            <button
              class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
              data-toggle="offcanvas"
              style="position: absolute; left: 85.4%"
              type="button"
            >
              <span class="fa-solid fa-bars fa-lg menu-icon"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel" style="height: auto">
          <div
            class="content-wrapper"
            style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; padding-top: 10%;">
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem; height: 300px;">
            <div class="card-header">Location</div>
            <iframe class="m-1"
              src="https://thingspeak.com/apps/matlab_visualizations/515628"
              style="border: 1px solid #cccccc; width: auto; height: auto"
            ></iframe>
            <div class="card-body">
              <h5 class="card-title text-white">Latitude: 27.70612525511591</h5>
              <h5 class="card-title text-white">Longitude: 85.33014184585</h5>

            </div>
          </div>
          <div class="card text-white bg-secondary mb-3" style="width: 18rem;  height: 300px;">
            <div class="card-header">Smoke Sensor</div>
            <img class="m-1"
            src="/static/images/smoke.png"
            style="border: 1px solid #cccccc; width: auto; height: 45%; object-fit: contain;"
          ></img>
            <div class="card-body">
              <h5 class="card-title text-white">Average: {{avg_smoke}}</h5>
              <h5 class="card-title text-white">Highest: {{max_smoke}}</h5>
              <h5 class="card-title text-white">Lowest: {{min_smoke}}</h5>
            </div>
          </div>
          <div class="card text-white bg-warning mb-3" style="width: 18rem;  height: 300px;">
            <div class="card-header">Temperature</div>
            <img class="m-1"
            src="/static/images/dht22.png"
            style="border: 1px solid #cccccc; width: auto; height: 45%; object-fit: contain;"
          ></img>
            <div class="card-body">
              <h5 class="card-title text-white">Average Temperature: {{avg_temp}} </h5>
              <h5 class="card-title text-white">Highest Temperature: {{max_temp}}</h5>
              <h5 class="card-title text-white">Lowest Temperature:  {{min_temp}}</h5>
            </div>
          </div>
          <div class="card text-white bg-danger mb-3" style="width: 18rem;  height: 300px;">
            <div class="card-header text-white">Humidity</div>
            <img class="m-1"
            src="/static/images/large-DHT 22  2.png"
            style="border: 1px solid #cccccc; width: auto; height: 45%; object-fit: contain;"
          ></img>
            <div class="card-body">
              <h5 class="card-title text-white">Average Humidity: {{avg_humidity}}</h5>
              <h5 class="card-title text-white">Highest Humidity: {{max_humidity}}</h5>
              <h5 class="card-title text-white">Lowest Humidity:  {{min_humidity}}</h5>
            </div>
          </div>
          </div>
            <footer class="footer">
              <div
                class="d-sm-flex justify-content-center justify-content-sm-between"
              >
                <span
                  class="text-muted text-center text-sm-left d-block d-sm-inline-block"
                >
                  MarsRover
                </span>
              </div>
            </footer>
          </div>
          <!-- main-panel ends -->
        </div>

        <!-- page-body-wrapper ends -->
      </div>

      <!-- container-scroller -->
    </div>
    <script src="/static/js/vendor.bundle.base.js"></script>
    <script src="/static/js/off-canvas.js"></script>
    <script src="/static/js/misc.js"></script>
  </body>
</html>